.quantity-selector > div {
  box-sizing: content-box;
  min-width: 14px;
  display: flex;
  align-items: center;
  padding: 0px 9px;
}

.quantity-selector span {
  display: flex;
  align-items: center;
  text-align: center;
}

.quantity-selector {
  /* padding: 0 9px; */
  user-select: none;
  display: flex;
  align-items: stretch;
}
